@page "/tim-kiem/{TenSanPham}"

<div class="container mt-5">
    
    <div class="box-content">
      
        <div class="heading__custom">
            <i class="heading__custom-icon fab fa-searchengin"></i> Kết quả tìm kiếm cho: @TenSanPham
            <h3>@Products.Count sản phẩm</h3>
        </div>
        @if (Products == null)
        {
            <div>Loading...</div>
        }
        else
        {
    <ul class="listproduct">
        @foreach (var item in Products)
        {
            <li class="item">
                <a href="/" class="main-contain">
                    <div class="item-img item-img_42">
                        <img class="thumb ls-is-cached lazyloaded"
                             alt="@item.Name"
                             src="@item.ThumbnailImage"  />
                    </div>

                    <div class="product-content">
                        <h3 class="product-name">@item.Name</h3>
                        <strong class="price">@item.Price ₫</strong>
                        <div class="item-bottom">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-size">
                            <div class="product-size-title">Size giày</div>
                            <div class="product-size-content">
                                <span class="product-size-item">
                                    <span class="product-size-item-text">Size -</span>
                                    35
                                </span><span class="product-size-item">
                                    <span class="product-size-item-text">Size -</span>
                                    36
                                </span><span class="product-size-item">
                                    <span class="product-size-item-text">Size -</span>
                                    37
                                </span><span class="product-size-item">
                                    <span class="product-size-item-text">Size -</span>
                                    38
                                </span><span class="product-size-item">
                                    <span class="product-size-item-text">Size -</span>
                                    39
                                </span><span class="product-size-item">
                                    <span class="product-size-item-text">Size -</span>
                                    40
                                </span>
                            </div>
                        </div>
                        <div class="product-btn-favorite">Xem ngay</div>
                    </div>
                </a>
            </li>
        }
    </ul>
        }
    </div>
</div>

